{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<section class="hero-section">
		<div class="hero-slider owl-carousel">
			
					
		<div class="hs-item">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<div class="hs-text">
								<h2><span>{{prato1.name}}</span>!</h2>
								<p>Descrição {{prato1.description}} - R$ {{prato1.price}}!</p>
								<a href="{{path('menu')}}" class="site-btn">Cardápio</a>
								<a href="{{path('order', {id: prato1.id} )}}" class="site-btn sb-c2">Fazer Pedido</a>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="hr-img">
								<img src="{{ asset('image/') }}{{prato1.image}}"/>
							</div>
						</div>
					</div>
				</div>
			</div>



			<div class="hs-item">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<div class="hs-text">
								<h2><span>{{prato2.name}}</span>!</h2>
								<p>Descrição {{prato2.description}} - R$ {{prato2.price}}!</p>
								<a href="{{path('menu')}}" class="site-btn">Cardápio</a>
								<a href="{{path('order', {id: prato2.id} )}}" class="site-btn sb-c2">Fazer Pedido</a>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="hr-img">
								<img src="{{ asset('image/') }}{{prato2.image}}"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			
	</section>

<section class="intro-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="section-title">
						<h2>Unlimited Access to 100K tracks</h2>
					</div>
				</div>
				<div class="col-lg-6">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum sus-pendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
					<a href="#" class="site-btn">Try it now</a>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
