{% extends 'base.html.twig' %}

{% block title %}Hello PratoController!{% endblock %}

{% block body %}

    {% for message in app.flashes('message') %}

        <div class="alert alert-success">
            {{ message }}
        </div>

    {% endfor %}

<br/>
<div class="container">
    <h2>Pratos</h2>
    <br/>
    <table class="table table-striped">
        <thead>
            <td>Nº</td>
            <td>Nome</td>
            <td>Descrição</td>
            <td>Preço</td>
            <td>Deletar</td>
            <td><a href="{{ path ('prato.new') }}">Novo</a></td>
        </thead>
        <tbody>
            {% for prato in prato %}
                <tr>
                    <td>{{prato.id}}</td>
                    <td><a href="{{ path ('prato.show', {id: prato.id}) }}">{{prato.name}}</a></td>
                    <td>{{prato.description}}</td>
                    <td>{{prato.price}}</td>
                    <td><a href="{{ path ('prato.delete', {id: prato.id}) }}">X</a></td>
                    <td></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
